/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e3f2fd;
  display: flex;
  justify-content: center;
  align-items: center;


}
main{
  perspective: 1000px;
}
section{
  background-image: url(./images/bg.png);
  color: white;
  border-radius: 10px;
  width: 400px;
  height: 220px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* transform: rotate(100deg)   skew(100deg,100deg); */
  box-shadow: rgba(0, 0, 0, 0.814) 1px 1px 6px ;

  transform: rotateY(0deg)  ;
/* position: absolute;
top: 12px; */
position: relative;
   transform-style:preserve-3d ; 
   transition: transform 0.9s;
  /* transition: all 1s ease-in-out; */
}
main:hover section{ 
  transform: rotateY(180deg)  ;


} 
.section2{
  transform: rotateY(180deg)  ;
}
.logo ,.chip{
  width: 54px;
  /* height: 50px; */
}
.party1{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 10px;
  

}
.party1 div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  gap: 10px;

}
.party2{
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  margin-left: 9px;
}
.party3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 9px;
  margin-right: 10px;
  margin-top: 20px;

}
.section1,.section2{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  /* position: absolute; */

}
